---
// Rutas web
import Layout from "../../layout/Layout.astro";
import Card from "../../components/Card.astro";
import { colors, wordColors } from "../../utils/neonColors";
import ColumLayout from "../../layout/ColumLayout.astro";
import WordNeonColor from "../../components/WordNeonColor";
import LanguageCard from "../../components/LanguageCard.astro";
import TypeWritter from "../../components/TypeWritter.astro";
// import WordNeonColorAstro from "../../components/WordNeonColorAstro.astro";

// Valores de la web
const titlePage = "Alejandro Lucena - Desarrollador";

// Funciones
import { Icon } from "astro-icon/components";
import { MdEmail } from "react-icons/md";
import { FaGithub, FaLinkedin } from "react-icons/fa6";
import LanguageSwitcher from "../../components/LanguageSwitcher.astro";
---

<Layout language="es" titlePage={titlePage}>
  <aside transition:animate="slide"></aside>
  <div
    class="gap-4 mb-8 text-white flex flex-col"
    style="margin-right: 1050px;"
  >
    <h1 class="text-5xl">Alejandro Lucena</h1>
    <h2>
      <TypeWritter
        text="Desarrollador web, Android y Java"
        speed={150}
        delay={1000}
        showBlink={false}
      />

      <!--
<WordNeonColorAstro word="Web" color={wordColors.yellow} effect={false} />,
  <WordNeonColorAstro word="Web" color={wordColors.yellow} effect={false} />,
   y
   <WordNeonColorAstro word="Web" color={wordColors.yellow} effect={false} />
  desarrollador
-->
    </h2>
  </div>

  <div style="display: flex; ">
    <Card borderColor={colors.purple} width="600px" height="510px" title="">
      <p class="text-xl">
        Mi nombre es <WordNeonColor
          client:load
          word="Alejandro Lucena"
          color={wordColors.blue}
          effect={true}
        /> y soy estudiante de desarrollo de aplicaciones multiplataforma, Soy <WordNeonColor
          client:load
          word="autodidacta"
          color={wordColors.darkblue}
          effect={true}
        /> así que aprendí desarrollo web por mi cuenta.
      </p>
      <hr />
      <p class="text-xl">
        Tengo más de un año de experiencia en <WordNeonColor
          client:load
          word="Java"
          color={wordColors.orange}
          effect={true}
        /> y algunos meses en
        <WordNeonColor
          client:load
          word="JavaScript"
          color={wordColors.yellow}
          effect={true}
        />. Realmente disfruto aprender por mi cuenta además de lo que se enseña
        en clase.
      </p>
      <div class="flex gap-11 mt-12">
        <LanguageCard
          showBorderAndShadow={true}
          set="si"
          color="#80b7ff"
          iconName="SiMysql"
        />
        <LanguageCard
          showBorderAndShadow={true}
          set="fa"
          color="orange"
          iconName="FaJava"
        />
        <LanguageCard
          showBorderAndShadow={true}
          set="fa"
          color="#00DF7F"
          iconName="FaAndroid"
        />
      </div>
    </Card>

    <ColumLayout>
      <Card
        align={true}
        borderColor={colors.blue}
        width="350px"
        height="242px"
        title="Habilidades"
      >
        <div class="wrapper flex gap-4">
          <div class="first">
            <LanguageCard set="fa" color="#000" iconName="FaGithub" />
          </div>

          <div class="second">
            <LanguageCard set="si" color="#f0db4f" iconName="SiJavascript" />
          </div>

          <div class="third">
            <LanguageCard set="fa" color="#61DBFB" iconName="FaReact" />
          </div>

          <div class="fourth">
            <LanguageCard set="si" color="#ff5a03" iconName="SiAstro" />
          </div>

          <div class="fifth">
            <LanguageCard set="fa" color="#FFF" iconName="FaLinux" />
          </div>

          <div class="sixth">
            <LanguageCard set="fa" color="#ff873d" iconName="FaGitAlt" />
          </div>

          <div class="seventh">
            <LanguageCard set="fa" color="orange" iconName="FaJava" />
          </div>

          <div class="eighth">
            <LanguageCard set="si" color="#80b7ff" iconName="SiMysql" />
          </div>

          <div class="ninth">
            <LanguageCard set="fa" color="#00DF7F" iconName="FaAndroid" />
          </div>
        </div>
      </Card>
      <Card
        align={true}
        borderColor={colors.green}
        width="350px"
        height="242px"
        title="Certificación Reciente"
      >
        <Icon class="text-9xl flex m-auto" name="cambridge" />
        <p>First Certificate in English B2</p>
      </Card>
    </ColumLayout>

    <ColumLayout>
      <Card
        borderColor={colors.red}
        width="450px"
        height="242px"
        title="Experiencia Profesional"
      >
        <p>
          En este momento, estoy estudiando y no he tenido la oportunidad de
          ganar experiencia profesional. He sido
          <WordNeonColor word="contactado" color="#fff" effect={false} /> por algunas
          empresas interesadas en mi perfil, pero debido a compromisos académicos
          y conflictos de horarios, no pude aceptar esas ofertas en ese momento.
          😅 🧑🏻‍🎓
        </p>
      </Card>
      <a
        href="https://drive.google.com/drive/folders/13UOUFO6b1OivYD_AHyqh48CKCF-qtx_B?usp=sharing"
      >
        <Card
          blue={true}
          borderColor={colors.yellow}
          width="450px"
          height="242px"
          title="Curriculum"
        >
          <p>
            ¡Pulsa aquí para descargar el currículum! <br />
            Espero que te guste ⬇😁
          </p>
        </Card>
      </a>
    </ColumLayout>
    <div>
      <div class="social-media text-5xl text-white flex-row">
        <a
          href="mailto:alucena1002@gmail.com?subject=¡Hola%20Alejandro!&body=Me%20gustaría%20contactar%20con%20usted%20porque..."
        >
          <MdEmail />
        </a>
        <a href="https://www.github.com/Lucenabo">
          <FaGithub />
        </a>
        <a href="https://www.linkedin.com/in/alucenad">
          <FaLinkedin />
        </a>
      </div>
      <div class="text-lg text-white button-email">
        <button id="copy-button">alucena1002@gmail.com </button>
        <p id="copied-message" class="mt-2 text-sm text-green-500 hidden">
          ¡Correo copiado!
        </p>
      </div>
    </div>
    <LanguageSwitcher />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const copyButton = document.getElementById("copy-button");
        const copiedMessage = document.getElementById("copied-message");

        if (!copyButton || !copiedMessage) {
          console.error("Elementos del DOM no encontrados");
          return;
        }

        copyButton.addEventListener("click", () => {
          const email: string = "alucena1002@gmail.com";

          navigator.clipboard
            .writeText(email)
            .then(() => {
              copyButton.classList.add("hidden");
              copiedMessage.classList.remove("hidden"); // Muestra el mensaje
              setTimeout(() => copyButton.classList.remove("hidden"), 2000);
              setTimeout(() => copiedMessage.classList.add("hidden"), 2000); // Oculta el mensaje después de 2 segundos
            })
            .catch((err: unknown) => {
              console.error("Error al copiar al portapapeles:", err);
            });
        });
      });
    </script>
  </div>
</Layout>
<style>
  hr {
    border: 1px solid rgb(91, 91, 91);
    width: 100%;
    margin: 20px 0;
  }
</style>
